th,
td {
  border: 2px solid orange;
  word-break: break-word;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 3px;
  table-layout: auto;
}

tr:first-child {
  background-color: yellowgreen;
}

td:last-child {
  font-style: italic;
}

tr td:first-child {
  color: red;
  font-size: x-large;
  font-weight: bolder;
}
